---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<p class="text-light-2 text-[36px]">こんにちは、</p>
	<div class="text-white text-[54px] md:text-[96px]">
		<p>I am Deny</p>
		<p>Linux User & Problem Solver</p>
	</div>
</Layout>