---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<div class="px-4">
		<p class="text-light-2 text-[36px]">こんにちは、</p>
		<div class="text-white text-[54px] md:text-[96px] font-extralight">
			<p>I am <span class="font-bold">Deny</span></p>
			<p>Linux User &</p>
			<p>Web Developer</p>
		</div>
	</div>
</Layout>