---
import Layout from '../layouts/Layout.astro'
import ComingSoon from '@/components/ComingSoon.astro'
---

<Layout title="Skills">
    <div class="px-4 h-full">
        <ComingSoon />
    </div>
</Layout>